body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
input[type="text"]::-webkit-input-placeholder {
text-align: center;
}
 
input[type="text"]:-moz-placeholder { /* Firefox 18- */
text-align: center; 
}
 
input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
text-align: center;
}
 
input[type="text"]:-ms-input-placeholder {  
text-align: center;
}
input[type="text"]{
    text-align: center;
}